html {
    touch-action: manipulation;
}

body {
    margin: 0;
    word-wrap: anywhere;
}

span {
    display: inline-block;
}

lineBreak {
    display: block;
}

.top {
    padding: 25px 50px 10px 50px;
}

left,
right {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

right {
    text-align: center;
}

.logo {
    font-size: 45px;
    user-select: none;
    letter-spacing: 5px;
}

.top #logoLines {
    width: 22.5px;
    padding: 0 3px 0 0;
    font-size: 11.5px;
    text-align: center;
}

.top #logoLines span.line {
    height: 4px;
    width: 22.5px;
    border-radius: 2px;
    background: #000;
}

editable {
    display: inline-block;
    padding: 10px 25px;
    border: 1px solid #bbb;
    border-radius: 20.5px;
    outline: 0;
    vertical-align: middle;
    background: #f5f5f5;
    color: #777;
    font-size: 14px;
    letter-spacing: -0.75px;
    user-select: none;
    cursor: text;
}

editable.active {
    color: #000;
    user-select: text;
}

.banner {
    padding: 80px 50px;
    background-image: url("writing.jpg");
    background-position: center;
    background-size: cover;
}

box {
    display: block;
    width: 350px;
    padding: 20px 30px;
    background: #000b;
    color: #fff;
    line-height: 1.5em;
}

box span.title {
    margin: 0 0 20px 0;
    font-size: 30px;
}

box.title,
box span.button {
    letter-spacing: -1.5px;
}

box span.description {
    font-size: 15px;
    color: #eee;
}

box span.button {
    padding: 8px 25px;
    border: 1px solid #fff;
    border-radius: 21px;
    margin: 20px 0 0 0;
    cursor: pointer;
    transition: all 0.5s, box-shadow 1s;
    user-select: none;
}

box span.mouseOver {
    box-shadow: 0px 0px 30px 3px #fffa;
}

box span.mouseDown {
    background: #fff;
    color: #000f;
}

.myCourses {
    padding: 40px 50px;
    background: #eee;
    text-align: center;
}

.myCourses div.title {
    font-size: 25px;
    text-align: start;
}

.myCourses horizontalLine {
    display: block;
    height: 1px;
    margin: 20px 0;
    background: #ddd;
}

course {
    display: inline-block;
    width: 250px;
    padding: 0 0 15px 0;
    margin: 10px 20px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}

course thumbnailOne {
    background: url("./courseThumbnailOne.jpg") center;
}

thumbnailTwo {
    background: url("./courseThumbnailTwo.jpg") center;
}

course thumbnailOne,
course thumbnailTwo {
    display: block;
    height: 180px;
    background-size: cover;
}

course span.title {
    display: block;
    font-size: 25px;
    color: #333;
}

course span.description {
    color: #555;
    margin: 10px 0 20px 0;
    font-size: 15px;
}

course span.button {
    display: inline-block;
    padding: 8px 70px;
    border-radius: 17.5px;
    color: #fff;
    background: #0a0;
    cursor: pointer;
    transition: all 0.5s, box-shadow 1s;
    user-select: none;
}

course span.mouseOver {
    box-shadow: 0px 0px 30px 3px #0a0a;
}

course span.mouseDown {
    background: #070;
}

.bottom {
    padding: 20px 50px;
    color: #aaa
}

.bottom #logoLines {
    width: 22.5px;
    padding: 0 3px 0 0;
    font-size: 11.5px;
    text-align: center;
}

.bottom #logoLines span.line {
    height: 4px;
    width: 22.5px;
    border-radius: 2px;
    background: #aaa;
}

.bottom span.description {
    font-size: 15px;
}

.bottom right right div.title,
.bottom right left div.title {
    color: #000;
}

.bottom right left div.title {
    font-size: 25px;
}

.bottom right right div.title {
    font-size: 25px;
}

.bottom span.link {
    margin: 10px 10px 0 10px;
    cursor: pointer;
}

.copyright {
    padding: 15px 50px;
    margin: 0 0 175px 0;
    color: #999;
    background: #ddd;
}
